extends layout

block content
    div(class='horizCenter vertCenterContainer fullVert')
        div(class='vertCenter')
            div.container
                div.group.horizCenter
                    div(class='container')
                        div(class='horizCenter')
                            div(class='left')
                                div(class='titleWrapper')
                                    div(class='title clearfix')
                                        | Joseph Hirschfeld
                                    div(class='subtitle clearfix')
                                        | Ichbinjoe | ibj
                                    div(class='subtitle clearfix')
                                        | Developer of Things
                            img(src="https://secure.gravatar.com/avatar/5870bfc57563a13b1033fdff9f01dd1d?s=150" class="imgCircle right")
                    hr
                    div(class='inlineContainer fullWidth')
                        div(class='iconrow')
                            div(class='icon')
                                a(class='rounded' href='https://craftimize.com')
                                    img(src="/imgs/craftimize_logo.png" class='fit100')
                            div(class='icon')
                                a(class='rounded' href='https://github.com/ichbinjoe')
                                    img(src='/imgs/GitHub-Mark-120px-plus.png' class='fit100')
                            div(class='icon')
                                a(class='rounded' href='https://www.spigotmc.org/members/ichbinjoe.4458/')
                                    img(src='/imgs/spigot.png' class='fit100')
                            div(class='icon')
                                a(class='rounded' href='skype:ichbinjoehirschfeld')
                                    img(src='/imgs/skype.png' class='fit100')
                            div(class='icon')
                                a(class='rounded' href='https://telegram.me/ichbinjoe')
                                    img(src='/imgs/telegram.png' class='fit100')
                    hr
                    div(class='inlineContainer fullWidth')
                        div(class='iconrow')
                            div(class='icon small')
                                img(src="/imgs/java.png" class='fit50 rounded')
                            div(class='icon small')
                                img(src='/imgs/Node-JS-logo.png' class='fit50 rounded')
                            div(class='icon small')
                                img(src='/imgs/mysql-icon.png' class='fit50 rounded')
                            div(class='icon small')
                                img(src='/imgs/postgresql-logo.png' class='fit50 rounded')
                            div(class='icon small')
                                img(src='/imgs/redis-icon.png' class='fit50 rounded')
                            div(class='icon small')
                                img(src='/imgs/git-logo.png' class='fit50 rounded')
                            div(class='icon small')
                                img(src='/imgs/html5-logo.png' class='fit50 rounded')
                            div(class='icon small')
                                img(src='/imgs/css-logo.png' class='fit50 rounded')
                    hr
            div.container
                div.group.horizCenter
                    div.container.fullWidth
                        div.iconrow
                            a(class='textItem' href='/ad')='Ethical Advertising'
                            a(class='textItem' href='/v')='Votifier Tester'
                            a.textItem(href='/p')='Ping Meter'
                            a.textItem(href='/keys/id_rsa.pub')='SSH Public Key'
                    div.container.fullWidth
                        div.iconrow
                            a.textItem='PGP Keys for:'
                            a.textItem(href='/keys/joe@ibj.io.asc')='joe@ibj.io'
                            a.textItem(href='/keys/hirschjb@mail.uc.edu.asc')='hirschjb@mail.uc.edu'
