extends ../markdown

block title
    title='MCAuthenticator - ibj.io'

block meta
    script(src='js/marked.min.js')
    script(src='js/2fa.js')
    meta(name='description'
    content='Project page for MCAuthenticator, a TOTP plugin for Bukkit servers')

block md
    h3 Resources
    h4
        ul
            li
                a(href="https://github.com/Ichbinjoe/MCAuthenticator")="Github Page"
            li
                a(href="https://github.com/Ichbinjoe/MCAuthenticator/issues")="Issues/Feature Reporting"
            li
                a(href="https://www.spigotmc.org/resources/mcauthenticator.18727/")="SpigotMC Thread"
    div#ghcontent
        div.container
            div.horizCenter
                h1 Hold on! Loading content from github!